@media screen and (max-width: 992px){
	
	.logo{
		display: block;
		margin: 25px auto;
	}
	.offer{
		margin-top: 40px;
	}
	.benefits_text{
		width: 95%;		
	}
	.header{
		padding-top: 0;
	}
	.read_more{
		padding: 30px 15px;
	}
	.text__read_more{
		margin: 0;
	}
	.dreamteam__text{
		width: 100%;
	}
	.block{
		width: 110px;
		height: 45px;
		margin-right: 35px;
		margin-bottom: 60px
	}
	.text_footer{
		text-align: center;
		margin-top: 15px;
	}
	.block-icon{
		justify-content: center!important;
	}


} 

@media screen and (max-width: 768px){
	.responsiv{
		width: 100%;
	}
	.cover{
		display: block!important;
	}
	.read_more{
		margin-bottom: 75px;
	}
	.johndoe_btn{
		margin-bottom: 25px;
	}
	.e-mail{
		width: 100%;
	}
	.footer__icon{
		margin-right: 0;
	}

} 
@media screen and (max-width: 576px){
	
	.menu{
		display: block!important;
		text-align: center;
		overflow: hidden;
		max-height: 0px;
		font-size: 0px;
		transition: .3s;
		
	}
	#check-menu:checked + .menu{
		max-height: 100%;
		font-size: 16px;
	}
	
	.logo{
		display: inline-block;
		justify-content: flex-start;
		margin: 0 0 0 15px;
		
		
	}
	.burger{
		display: inline-block;
	}
	.logoandburger{
		background-color: #bab6b6;
		padding: 5px 0;
		margin: 0;
	}
	.header{
		padding-top: 0;
	}
	.check-fotos{
		display: inline-block;
	}
	.resume{
		justify-content: center!important;
	}
	.resume{
		overflow: hidden;
		max-height: 0;
		transition: .5s all;
	}
	#check-fotos:checked ~ .resume{
		
		max-height: 100%;
	}
	.footer{
		padding:30px 0;
	}

} 